:root {
  --dark-blue: #222831;
  --light-blue: #4f8a8b;
  --yellow: #fbd46d;
  --white: #eeeeee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

button,
a,
input.btn {
  transition: all 100ms ease-in-out;
}
