.container {
	padding: 1rem 7.5%;
	
	/* justify-content: space-between; */
}

.container-grid {
	display: grid;
	grid-template-columns: auto auto;
}
  
.cart-item {
	padding: 3rem 0;
	/* display: flex; */
	/* flex-direction: column; */
	/* max-width: 70%; */

} 

.checkout {
	display: grid;
	align-content: space-around;
	justify-content: center;
	background-color: var(--yellow);
	height: auto;
	max-height: 35rem;
	border-radius: 1rem;
	/* float: right; */
	/* grid-area: 1 / col4-start / last-line / 6; */
}

.price{
	float: inline-end;
	display: inline;
	font-size: 1.3rem;
	font-weight: bold;
	color: var(--dark-blue);
}

.text-center{
	text-align: center;
}

.checkout-heading {
	color: var(--dark-blue);
}

.checkout-btn {
	background-color: var(--dark-blue);
	color: white;
	font-size: 2rem;
	border-radius: 10px;
}

.checkout-item {
	color: var(--dark-blue);
	display: inline;
	font-size: 1.3rem;
	font-weight: bold;

}