
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

.center {
	text-align: center;
}

h1 {
	/* margin: auto; */
	color: #4F8A8B;
	font-size: 3rem;
	margin: 2% 10%;
}

.column {
	float: left;
	width: 50%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.mid {
	padding: 0 10%;
}

.cart-text {
	font-style: normal;
	font: 1.875em Arial, sans-serif;
}

.col1 {
	margin-top: 50px;
}

.col2 {
	float: right;
}

.product-card {
	height: 150px;
	background-color: #353836;
	color: white;
	margin: 15px 0px;
	border-radius: 7px;
}

.prod-image {
	width: 100px;
	height: 100px;
	background-color: #9eada2;
	margin-left: 15px;
	border-radius: 7px;
	/* margin-top: -15px; */
}

.prod-text {
	font: Arial;
	margin-top: 30px;
	margin-left: 30px;
}

.total-qr-card {
	height: 450px;
	background-color: var(--yellow);
	margin: 55px 35px 40px 95px;
}

.total {
	padding-top: 30px;
}

.price {
	align-self: flex-end;
}

.proceed-btn { 
	background-color: #353836;
	color: white;
	width: 55%;
	height: 75px;
	font-size : 1rem;
	border-radius: 18px;
}

.proceed-div {
	display: flex;
	justify-content: center;
	
}
h1{
	/* margin: auto; */
	color: #4F8A8B;
	font-size: 3rem;
	margin: 2% 10%;
}

.amount {
	display: flex;
  justify-content: center;
  align-items: center;
}
