body {
  overflow: hidden;
}

.container {
  padding: 10% 10% 0 10%;
}

.home-grid {
  display: grid;
  grid-template-columns: 60% 40%;
}

.container > div > h1 {
  color: var(--light-blue);
  font-size: 5rem;
  padding: 0.6rem 0;
}

.container > div > h3 {
  color: var(--dark-blue);
  width: 50%;
  padding: 1rem 0;
  line-height: 1.5rem 0;
}

.container > div > a {
  display: inline-block;
  background-color: var(--yellow);
  text-decoration: none;
  color: var(--dark-blue);
  font-weight: 700;
  padding: 1rem 2rem;
  margin: 1rem 0;
  border-radius: 3rem;
}

.container > div > a:hover {
  background-color: var(--dark-blue);
  color: var(--yellow);
}

@media (max-width: 600px) {
  .container > div > h1 {
    font-size: 3rem;
  }

  .container > h3 {
    width: 100%;
  }
}

.home-svg {
  align-self: center;
}

.home-svg > img {
  height: auto;
  width: 100%;
}
