/* heading */
h1 {
	margin: auto;
	color: #4F8A8B;
	max-width: 70%;
	font-size: 3rem;
	margin-top: 4%;
}

/* form */
.centre {
	margin: auto;
	width: 30%;
}
form {	
	background-color: #222831;
	padding: 7% 6% 5% 6%;
	font-size: 1.4vw;
	margin: 6%;
	border-radius: 20px;
}

/* inputs */
label {
	color: #EEEEEE;
	font-weight: 600;
	font-style: italic;
}
.inputs {
	width: 100%;
	max-width: 100%;
	min-width: 20%;
	padding: 3% 20px;
	margin: 10px 0;
	display: block;
	box-sizing: border-box;
	font-size: 1em;
}

/* forgot password link */
.forgot {
	color: #4F8A8B;
	font-size: 0.70em;
	float: right;
	margin: 1%;
	text-decoration: none;
}
.forgot:hover {
	color: lightblue;
}

/* buttons */
.login {
	float:right;
}
.btn {
	margin: 2% 0;
	background-color: #222831;
	color: #FBD46D;
	font-weight: 500;
	border: 0.15em solid #FBD46D;
	border-radius: 30px;
	font-size: 2vw;
	padding: 2% 3%;
	cursor: pointer;
}	
.btn:hover {
	background-color: #FBD46D;
	color: #222831;
}