.container {
	padding: 3rem 10%;
}

.container-grid {
	display: grid;
	grid-template-columns: auto auto;
}

.titles { 
    margin-left: 10%;
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: larger;
}

.order-table{
    margin-top: 2rem !important;
    border : 1px solid #ccc;
    border-spacing:0;
    width:70%;
    margin-left : 15%;
    margin-right : 15%;
    display:table;
    border-collapse: collapse;
}

.order-table tr{
    border-bottom:1px solid #ddd;
}

.order-table tr:nth-child(odd){
    background-color:#fff
}

.order-table tr:nth-child(even){
    background-color:#f1f1f1
}

.order-table td,.order-table th{
    padding:8px 8px;
    display:table-cell;
    text-align:left;
    vertical-align:top
}

.order-table th:first-child,.order-table td:first-child{
    padding-left:16px
}

.order-table tr th, .order-table tr td {
    text-align: center;
}

.total-amount {
    margin-left: 75%;
    font-size: larger;
    font-weight: 700;
}

/* admin side roll number search box and order checkout submit button */
.search-roll {
    margin : 2rem;
}

.order-check-submit {
    margin-left : 75%;
    margin-top: 2rem;
    width: 6rem;
    height: 2rem;
    background-color: var(--yellow);
    color : var(--dark-blue);
    font-size : 1rem;
    font-weight: bold;
    border: none;
    outline : none;
    border-radius: 0.5rem;
}

.order-roll-search-btn {
    width: 5rem;
    height: 1.5rem;
    background-color: var(--yellow);
    color : var(--dark-blue);
    font-size : 1rem;
    font-weight: bold;
    border: none;
    outline : none;
    border-radius: 0.5rem;
}

.receipt {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 1rem;
}

.receipt > hr{
    margin: 1rem 0;
}